---
import Layout from "../layouts/Layout.astro";
---

<Layout
  bg="bg-#0A231D"
  squareThingFill="#F7F3F0"
  logoHref="/"
  altPage="Home"
  altClass="text-white"
>
  <section class="px-3.56rem">
    <div class="max-w-2xl mx-a">
      <div class="max-w-2xl mx-a">
        <div class="pb-15px">
          <h1 class="font-satoshi font-italic text-#F7F3F0">
            About me..............
          </h1>
        </div>
        <div class="flex gap-15px items-center">
          <a href="https://www.instagram.com/virus.shater/">
            <div class="flex gap-5px items-center">
              <div
                class="fill-#F7F3F0 bg-#F7F3F0 h-20px w-20px i-mdi-instagram"
              >
              </div>
              <h1 class="text-#F7F3F0 font-mena-grotesk text-16px fw-400">
                virus.shater
              </h1>
            </div>
          </a>
          <a
            href="https://open.spotify.com/user/313xafwvqml3ot3ewtswx5p3r6aq?si=3266aa27017e411a"
          >
            <div class="flex gap-10px items-center">
              <div class="fill-#F7F3F0 bg-#F7F3F0 h-20px w-20px i-mdi-spotify">
              </div>
              <h1 class="text-#F7F3F0 font-mena-grotesk text-16px fw-400">
                Tsavsar
              </h1>
            </div>
          </a>
        </div>
      </div>

      <div class="text-#F7F3F0 text-16px fw-300 pt-20px flex flex-col gap-15px">
        <h1>
          I'm into all sorts of music, and you'll find me vibing to different
          genres a lot of times but mostly indie, pop and rap, My playlist is
          linked down below. I enjoy playing a bit of basketball and watching
          the games. Harry Potter's a big deal for me, and I've got a soft spot
          for anime. When I just want to kick back and relax, gaming's my thing.
          It's all about keeping life fun and laid-back.
        </h1>

        <h1>
          I've been a die-hard Arsenal fan for over a decade now, and that
          passion runs deep. In the NBA, I rock with the Knicks, and when it
          comes to the NFL, you'll catch me cheering for the Seahawks. These
          teams have become an integral part of my sports journey, and they add
          that extra layer of excitement to my fan experience. I also play
          basketball every week, either pick up or my local league.
        </h1>

        <h1>
          I'm pretty active on Twitter, especially when it comes to sharing
          snippets of my work and design progress. If you want to stay updated
          with my latest projects, insights, and the occasional dose of my
          sports fan enthusiasm, give me a follow. I'd love to connect and share
          the journey with you!
        </h1>
      </div>

      <div class="pt-40px">
        <h1 class="font-satoshi font-italic text-#F7F3F0">
          Interested in how this was made and my other resources?
        </h1>
        <div class="pt-15px flex gap-15px">
          <a href="http://figma.com/@tsavsar">
            <div class="flex gap-5px items-center">
              <div
                class="fill-#F7F3F0 bg-#F7F3F0 h-20px w-20px i-ph-figma-logo"
              >
              </div>
              <h1 class="text-#F7F3F0 font-mena-grotesk text-16px fw-400">
                Tsavsar
              </h1>
            </div>
          </a>

          <a href="https://github.com/Tsavsar">
            <div class="flex gap-5px items-center">
              <div class="fill-#F7F3F0 bg-#F7F3F0 h-20px w-20px i-mdi-github">
              </div>
              <h1 class="text-#F7F3F0 font-mena-grotesk text-16px fw-400">
                Tsavsar
              </h1>
            </div>
          </a>
        </div>
      </div>

      <br />

      <div>
        <iframe
          style="border-radius:12px"
          src="https://open.spotify.com/embed/playlist/3Nlt5lIE2WCZw2tlRPtymv?utm_source=generator&theme=0"
          width="100%"
          height="352"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
      </div>
    </div>
  </section>
</Layout>
