---
import Layout from "../layouts/Layout.astro";
---

<Layout bg="bg-#0A231D" squareThingFill="#F7F3F0" logoHref="/">
  <section class="px-3.56rem">
    <div class="max-w-2xl mx-a">
      <div
        class="font-mena-grotesk text-137px text-#F7F3F0 fw-300 items-center content-center"
      >
        404
      </div>

      <div class="text-#F7F3F0 fw-300 text-right">
        Page Not Found <br />
         Sorry, the page you're looking for seems to have taken a detour. But
        don't worry, we can help you get back on track.
      </div>
    </div>
  </section>
</Layout>
