<div>
  <div class="sm-flex items-center">
    <div class="flex-1">
      <p>
        As we can see the clickable area is really really small so users weren't
        sure if it was clickable.
      </p>
      <br />
      <p>
        This was a simple fix for an issue that can be easily forgotten about
      </p>
    </div>

    <div class="flex-1 h-250px">
      <img
        class="w-full h-full object-contain override"
        src="/ur/1.png"
        alt=""
      />
    </div>
  </div>

  <div class="sm-flex flex-row-reverse items-center">
    <div class="flex-1">
      <p>
        As we can see the clickable area is really really small so users weren't
        sure if it was clickable.
      </p>
      <br />
      <p>
        This was a simple fix for an issue that can be easily forgotten about
      </p>
    </div>

    <div class="flex-1 h-250px">
      <img
        class="w-full h-full object-contain override"
        src="/ur/1.png"
        alt=""
      />
    </div>
  </div>
</div>
