---
import Layout from "../../layouts/Layout.astro";
---

<Layout altPage="/about">
  <section class="px-3.56rem">
    <div class="max-w-2xl mx-a flex flex-col gap-10">
      <!-- SECTION HEADER -->
      <div>
        <h1>Portfolio Website Case Study: Self Branding Project</h1>
        <div class="flex items-center gap-2">
          <div class="h30px w30px rounded-full">
            <img src="/Images/Icon.png" alt="" />
          </div>
          <p class="text-sm text-gray-500">
            By <span class="font-bold">Sarim Malik</span>
          </p>
          <p>·</p>
          <p>Shater Tsavsar</p>
          <p>·</p>s
          <p>3 min read</p>
        </div>
      </div>

      <div>
        <img src="/Images/shatermt.png" alt="" />
      </div>
    </div>
  </section>
</Layout>
