@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-Light.otf");
	font-weight: 300;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-Regular.otf");
	font-weight: 400;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-Medium.otf");
	font-weight: 500;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-Bold.otf");
	font-weight: 700;
}

@font-face {
	font-family: Satoshi;
	src: url("/fonts/Satoshi/Satoshi-Black.otf");
	font-weight: 900;
}

/* MENA GROPTESK */
@font-face {
	font-family: MenaGrotesk;
	src: url("/fonts/MenaGrotesk/Mena-Grotesk-Light.otf");
	font-weight: 300;
}

@font-face {
	font-family: MenaGrotesk;
	src: url("/fonts/MenaGrotesk/Mena-Grotesk-Regular.otf");
	font-weight: 400;
}

@font-face {
	font-family: MenaGrotesk;
	src: url("/fonts/MenaGrotesk/Mena-Grotesk-Medium.otf");
	font-weight: 500;
}

@font-face {
	font-family: MenaGrotesk;
	src: url("/fonts/MenaGrotesk/Mena-Grotesk-SemiBold.otf");
	font-weight: 600;
}

@font-face {
	font-family: MenaGrotesk;
	src: url("/fonts/MenaGrotesk/Mena-Grotesk-Bold.otf");
	font-weight: 700;
}

@font-face {
	font-family: MenaGrotesk;
	src: url("/fonts/MenaGrotesk/Mena-Grotesk-Black.otf");
	font-weight: 900;
}

.font-playfair {
	font-family: Playfair;
}

@font-face {
	font-family: PlayFair;
	src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital@1&display=swap");
}

.ring-container {
    position: relative;
	width: 25px;
	height: 25px;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #0A231D;
    border-radius: 50%;
    position: absolute;
	top: 5px;
	left: 5px;
}

.ringring {
    border: 3px solid #0A231D;
    -webkit-border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}